{
  "presets": ["react", ["env", {
    "targets": {
      "browsers": [
        "Firefox > 31",
        "Chrome > 37"
      ]
    },
    "modules": false
  }], "stage-0"],
  "plugins": ["external-helpers", ["inline-import", {
    "extensions": [".css"]
  }]]
}
